---
layout: default
title: Gyangmig
---
<div class="home grid" id="home">
  <div class="grid-box" id="box1">
    <a id="box1-link" href="infographics">
      <h4>Infographic</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ipsam iusto nihil at blanditiis, recusandae quis nostrum quas eligendi impedit officia delectus cupiditate consequuntur eaque labore! Iste et harum, fugit.
      </p>
    </a>
  </div>

  <div class="grid-box" id="box2">
    <a id="box2-link" href="justdiscription">
      <h4>Just Description</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ipsam iusto nihil at blanditiis, recusandae quis nostrum quas eligendi impedit officia delectus cupiditate consequuntur eaque labore! Iste et harum, fugit.
      </p>
    </a>
  </div>

  <div class="grid-box" id="box3">
    <a id="box3-link" href="justexample">
      <h4>Just Example</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ipsam iusto nihil at blanditiis, recusandae quis nostrum quas eligendi impedit officia delectus cupiditate consequuntur eaque labore! Iste et harum, fugit.
      </p>
    </a>
  </div>

</div>

<div class="home" id="home">
  <h1 class="pageTitle">Recent Posts</h1>
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
